* {
    margin: 0px;
    padding: 0px;
}

#mostrador{
    margin: auto;
    margin-top: 40px; 
    width: 252px;
    height: 80px;
    font-size: 1.4em;
}

#jogo{

    padding-right: 0mm;
    width: 400px;
    height: 600px;
    margin: auto;
    align-items: end;
    align-content: start;
    
}

#botao{
    background: #c0c0c0;
    color: #000;
    float: right;
    font-size: 1.2em;
    padding: 0.2em 0.6em;
    margin-top: 2em;
    margin-right: 43mm;
    box-shadow: 2px 2px 2px #adb0b6;
    border-radius: 10px;
    border: 0;
    
    
}

#botao:hover{

    background: #696969;
}

#placar{
    
    width: 240px;
    height: 300px;
    background-color: #DCDCDC;
    text-align: start;
    margin-left: 20px;
    margin-top: 120px;
    border-radius: 12px;
    padding: 10px;
    font-size: 2em;
    border: 2px outset #696969;
    color: black;
    

}

#pl{

    margin-bottom: 20%;
    text-align: center;
}

#pontos1{
    height: 30%;
    color: #000;
}

#pontos2{
    height: 30%;
    color: #000;
}

.tabuleiro{

    width: 400px;
    height: 400px;
    background-color: #c7c7c7;

}

.espaco{
    width: 129px;
    height:120px;
    border: 2px solid #D3D3D3;
    float: right;
    text-align: center;
    padding-top: 10px;
}

.espaco:hover{

    background-color: #a3a2a2;
}

body{
    background: #DCDCDC;
    font-family:Arial, Helvetica, sans-serif;
    display: flex;
    
}


